{% extends 'base.html.twig' %}

{% block title %}ԳրաՏուն{% endblock %}

{% block body %}
    <div class="site-index">

        <div class="jumbotron text-center bg-transparent">
            <h1 class="display-4">ԳրաՏուն</h1>
            <p class="lead">Բարի գալուստ ԳրաՏուն. Կարող եք տեսնել բոլոր գրքերը և հեղինակներին հեշտությամբ, ինչպես նաև պատվիրել.</p>
        </div>

        <div class="body-content">
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <div class="card text-center">
                        <div class="card-body">
                            <h5 class="card-title">Գրքեր</h5>
                            <p class="card-text">Տեսնել Գրքերը</p>
                            <a href="{{ path('app_books') }}" class="btn btn-outline-secondary">Տեսնել Գրքերը</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card text-center">
                        <div class="card-body">
                            <h5 class="card-title">Հեղինակներ</h5>
                            <p class="card-text">Տեսնել Հեղինակներին</p>
                            <a href="{{ path('app_authors') }}" class="btn btn-outline-secondary">Տեսնել Հեղինակներին</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
