{% extends 'admin/base.html.twig' %}

{% block title %}Ադմինի էջ{% endblock %}

{% block body %}
    <div class="jumbotron text-center bg-transparent">
        <h2 class="display-4">Բարի Գալուստ Ադմինի էջ</h2>

        <div style="margin-top: 50px">
            <a href="{{ path('app_admin_book') }}" class="btn btn-outline-secondary">Կարգավորել Գրքերը</a>
            <a href="{{ path('app_admin_author') }}" class="btn btn-outline-secondary">Կարգավորել Հեղինակներին</a>
        </div>
    </div>
{% endblock %}
